@mixin setas {
    img {
        cursor: pointer;
        width: 20px;
        height: 20px;
        opacity: 0.5;
        transition: all 0.3s ease;
    }

    :hover {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
}

.containerModal {
    width: 100%;
    height: 100%;

    .headerModal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .tituloModal {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            strong {
                font-size: 16px;
                color: $corPrimaria;
            }
        }

        .btnFecharModal {
            display: flex;

            img {
                width: 30px;
                height: 30px;
                cursor: pointer;
            }

        }
    }

    .bodyModal {

        .postagemModal {

            .postagem {

                .avatar {
                    height: 32px;
                    width: 32px;
                    margin-right: 8px;
                }

                .cabecalhoPostagem {
                    display: flex;
                    align-items: center;
                    padding: 0 12px;
                    margin-bottom: 8px;


                    strong {
                        font-size: 12px;
                        color: $cinza4;
                    }
                }

                .fotoDaPostagem {
                    img {
                        width: 100%;
                        height: 100%;
                        max-height: 360px;
                        object-fit: contain;
                        background-color: $corPrimaria4;
                    }
                }

                .rodapeDaPostagem {
                    padding: 5px 16px;

                    .descricaoDaPostagem {

                        strong.nomeUsuario {
                            font-size: 12px;
                            float: left;
                            margin-right: 4px;
                            color: $cinza4;
                        }

                        p.descricao {
                            font-size: 12px;
                            margin: 0 0 2px;
                            color: $cinza4;

                            .exibirDescricaoCompleta {
                                font-size: 12px;
                                color: $corPrimaria3;
                                margin-left: 4px;
                                cursor: pointer;
                            }
                        }
                    }

                    .acoesDaPostagem {
                        display: flex;
                        align-items: center;
                        margin-bottom: 8px;

                        >span {
                            margin-right: 5px !important;
                        }

                        .quantidadeCurtidas {
                            font-family: $fontLight;
                            font-size: 10px;
                            color: $cinza4;

                            strong {
                                font-size: 10px;
                                color: $cinza4;
                            }
                        }
                    }

                    .comentariosDaPublicacao {
                        max-height: 100px;
                        overflow-y: auto;

                        .comentario {

                            strong.nomeUsuario {
                                font-size: 12px;
                                float: left;
                                margin-right: 4px;
                                color: $cinza4;
                            }

                            p.descricao {
                                font-size: 12px;
                                margin: 0 0 2px;
                                color: $cinza4;
                            }
                        }
                    }

                }

                .containerFazerComentario {
                    display: flex;
                    padding: 0 12px;
                    align-items: center;
                    margin-bottom: 16px;


                    textarea {
                        resize: none;
                        flex: 1;
                        max-width: 100%;
                        border: none;
                        outline: none;
                        font-size: 12px;
                        color: $cinza2;
                    }
                }

            }

            .navegacaoModal {
                display: flex;
                align-items: center;
                justify-content: space-between;

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }

    }

    @media screen and (min-width: $desktopBreakpoint) {

        .bodyModal {

            .postagemModal {

                .postagem {

                    .cabecalhoPostagem {
                        cursor: pointer;
                    }

                    .avatar {
                        height: 42px;
                        width: 42px;
                    }

                    .rodapeDaPostagem {
                        display: flex;
                        flex-direction: column;

                        .acoesDaPostagem {

                            >span {
                                cursor: pointer;
                            }
                        }
                    }

                    .containerFazerComentario {
                        margin-top: 12px;

                        .btnPublicacao {
                            background-color: transparent;
                            outline: none;
                            border: none;
                            color: $corPrimaria;
                            font-size: 12px;
                            cursor: pointer;
                        }

                    }
                }

                .navegacaoModal {
                    position: absolute;
                    top: 230px;
                    width: 100%;
                    height: 30px;
                    bottom: 0;
                    left: 0;
                    padding: 0 16px;

                    .setaEsquerda {
                        
                        @include setas();
                        
                        &.disabled {
                            display: none;
                        }
                    }

                    .setaDireita {
                        position: absolute;
                        right: 0;
                        padding-right: 16px;
                        
                        @include setas();
                        
                        &.disabled {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}